<section>
	{% for portfolio in portfolioslist | reverse %}
		<article{% if portfolio.url == url %} data-current="current item"{% endif %}>
			<h3>
				<a href="{{ portfolio.url | url }}">
					{% if portfolio.data.title %}
						{{ portfolio.data.title }}
					{% else %}
						Untitled
					{% endif %}
				</a>
			</h3>
			{% if portfolio.data.summary %}
				<p>
					{{ portfolio.data.summary }}
				</p>
			{% endif %}
			<p>
				<time datetime="{{ portfolio.date | machineDate }}">
					<small>{{ portfolio.date | readableDate }} by <a href="/authors/{{ portfolio.data.author | slug }}/">{{ portfolio.data.author }}</a></small>
				</time>
			</p>
			{% if portfolio.data.tags %}
				<p>
					{% for tag in portfolio.data.tags %}
		  			{%- if tag != "portfolio" -%}
		  				{% set tagUrl %}/tags/{{ tag }}/{% endset %}
		  			<a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
		  			{%- endif -%}
					{% endfor %}
				</p>
			{% endif %}
		</article>
	{% endfor %}
</section>
