<section>
	{% for servicios in servicioslist | reverse %}
		<article{% if servicios.url == url %} data-current="current item"{% endif %}>
			<h3>
				<a href="{{ servicios.url | url }}">
					{% if servicios.data.title %}
						{{ servicios.data.title }}
					{% else %}
						Untitled
					{% endif %}
				</a>
			</h3>
			{% if servicio.data.summary %}
				<p>
					{{ servicios.data.summary }}
				</p>
			{% endif %}
			<p>
				<time datetime="{{ servicios.date | machineDate }}">
					<small>{{ servicios.date | readableDate }} by <a href="/authors/{{ servicios.data.author | slug }}/">{{ servicios.data.author }}</a></small>
				</time>
			</p>
			{% if servicios.data.tags %}
				<p>
					{% for tag in servicios.data.tags %}
		  			{%- if tag != "servicios" -%}
		  				{% set tagUrl %}/tags/{{ tag }}/{% endset %}
		  			<a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
		  			{%- endif -%}
					{% endfor %}
				</p>
			{% endif %}
		</article>
	{% endfor %}
</section>
