---
layout: layouts/base.njk
section: Servicios
permalink: /servicios/index.html
---
<h1>{{ title }}</h1>

{{ layoutContent | safe }}

{% set servicioslist = collections.post %}
{% include "components/servicioslist.njk" %}
